[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-pymongo = "*"
flask-bcrypt = "*"
flask-cors = "*"
flask-jwt-extended = "*"
flask-login = "*"

[dev-packages]
autopep8 = "*"
